@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.App {
  width: min(1440px, 100%);
  margin: 0 auto;
}
